<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a [routerLink]="['/']" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <span class="fs-4" (mouseover)="showHotCupIcon = true" (mouseout)="showHotCupIcon = false">
                <i class="bi bi-bicycle" [style.display]="showHotCupIcon ? 'none' : 'inline-block'"></i>
                <i class="bi bi-bicycle"
                   [style.display]="showHotCupIcon ? 'inline-block' : 'none'"></i>
                <span class="webshop-name">
                  VelocityVelo
                </span>
            </span>
    </a>
    <ul class="nav nav-pills">
      <li class="nav-item"><a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/']" class="nav-link" aria-current="page">Home</a></li>
      <li class="nav-item"><a [routerLinkActive]="['active']" [routerLink]="['auth', 'login']" *ngIf="!userIsLoggedIn" class="nav-link">Login</a></li>
      <li class="nav-item"><a [routerLinkActive]="['active']" [routerLink]="['auth', 'register']"
                              *ngIf="!userIsLoggedIn" class="nav-link">Register</a></li>
      <li class="nav-item"><a [routerLinkActive]="['active']" [routerLink]="['products']" class="nav-link">Products</a>
      </li>
      <li class="nav-item"><a [routerLinkActive]="['active']" [routerLink]="['cart']" class="nav-link">Cart
        ({{ amountOfProducts }})</a></li>
      <li class="nav-item"><a [routerLinkActive]="['active']" [routerLink]="['profile']" class="nav-link" *ngIf="userIsLoggedIn">Profile</a>
      </li>
      <li class="nav-item"><a [routerLinkActive]="['active']" [routerLink]="['order-history']" class="nav-link" *ngIf="userIsLoggedIn">Order history</a></li>
      <li class="nav-item"><a [routerLinkActive]="['active']" (click)="onAdminLogin()"class="nav-link">Admin</a></li>
      <li class="nav-item"><a (click)="onLogout()" class="nav-link" *ngIf="userIsLoggedIn">Log out</a></li>
    </ul>
  </header>
</div>
