<h4>Admin Login</h4>
<form>
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="username" placeholder="Enter username" required [(ngModel)]="authReq.email" name="email">
    <div class="invalid-feedback">Please enter your username.</div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Enter password" required [(ngModel)]="authReq.password" name="password">
    <div class="invalid-feedback">Please enter your password.</div>
  </div>
  <button (click)="login()" type="submit" class="btn btn-primary">Login</button>
</form>
