<section class="w-100 px-3 py-5" style="background-color: #eee; border-radius: .5rem .5rem 0 0;">
  <div class="row d-flex justify-content-center">
    <div class="col-xl-11">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
      </div>
      @for (product of products_in_cart; track $index) {
        <div class="card rounded-3 mb-4">
          <div class="card-body p-4">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col-md-2 col-lg-2 col-xl-2">
                <img src="{{ product.prodctVariantsList.length > 0 ? product.prodctVariantsList[0].imgURL : product.imgURL}}" class="img-fluid rounded-3" alt="Cotton T-shirt">
              </div>
              <div class="col-md-3 col-lg-3 col-xl-3">
                <p class="lead fw-normal mb-2">{{ product.name }}</p>
                <p *ngIf="product.prodctVariantsList.length > 0">Color: {{product.prodctVariantsList[0].color}}</p>
                <p *ngIf="product.prodctVariantsList.length > 0">Size: {{product.prodctVariantsList[0].size}}</p>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                <h5 class="mb-0">{{(product.prodctVariantsList.length > 0 ? product.prodctVariantsList[0].price : product.price) | currency }}</h5>
                <p>Quantity: {{ product.amount }}</p> <!-- Display amount -->
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                <h5 class="mb-0">{{ (product.prodctVariantsList.length > 0 ? product.prodctVariantsList[0].price : product.price) * product.amount | currency }}</h5>
              </div>
              <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                <a (click)="removeProductFromCart($index)" class="text-danger">Delete</a>
              </div>
            </div>
          </div>
        </div>
      }
      <div class="col-md-12 mt-5">
        <div class="d-flex justify-content-end mb-4">
          <div>
            <p>Total Price: {{ getTotalPrice() | currency }}</p>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <div class="col-md-6">
          <button [disabled]="onInvalidOrder()" (click)="clearCart()" class="btn btn-danger">
            Leegmaken
          </button>
        </div>
        <div class="col-md-6 text-end">
          <button [disabled]="onInvalidOrder()" (click)="onOrder()" class="btn btn-primary">
            Bestellen
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
