
<div class="container mt-5">
  <div class="orders-container">
    <div *ngFor="let order of orders" class="mb-4">
      <div class="order-header">
        <p>Order ID: {{order.id}}</p>
        <p>Order Date: {{order.orderDate | date: 'medium'}}</p>
      </div>
      <div class="customer-info">
        <p class="customer-name">{{order.name}} {{order.infix}} {{order.last_name}}</p>
        <p class="customer-address">{{order.zipcode}}, {{order.houseNumber}}</p>
        <p class="customer-notes">{{order.notes}}</p>
      </div>
      <ul class="products-list">
        <li *ngFor="let orderItem of order.orderItems" class="d-flex justify-content-between align-items-center mb-2">
          <div class="product-details">
            <p class="product-name">{{orderItem.product.name}}</p>
            <p class="product-price">Price: {{ (orderItem.variant ? orderItem.variant.price : orderItem.product.price) | currency: 'EUR'}}</p>
          </div>
          <div class="product-image">
            <img src="{{orderItem.variant ? orderItem.variant.imgURL : orderItem.product.imgURL}}" alt="{{orderItem.product.name}}">
          </div>
          <tr>
            <th scope="row" *ngIf="orderItem.variant">Color</th>
            <br>
            <td *ngIf="orderItem.variant">{{orderItem.variant.color}}</td>
          </tr>
          <tr> 
            <th scope="row" *ngIf="orderItem.variant">Size</th>
            <br>
            <td *ngIf="orderItem.variant">{{orderItem.variant.size}}</td>
          </tr>
        </li>
        <li class="d-flex justify-content-between align-items-center fw-bold">Total: €{{calculateTotal(order.orderItems)}}</li>
      </ul>
      <hr>
    </div>
  </div>

</div>
