.card{
    width: 400px;
    display: inline-block;
    margin-left: 20px;
    position: relative;
    right: 30px;
    margin-bottom: 10px;
}
.card-img-top{
    width:200px;
    height: 200px;
    margin: auto;
    text-align: center;
    
}